<div class="app-container">
  <!-- Show intro until finished -->
  @if (!introFinished()) {
    <app-ascii-animation-text 
      [messages]="['WELCOME TO THE VIENNA SPOTMAP']"
      [waitFrames]="60"
      [animationSpeed]="35"
      (animationFinished)="onIntroFinished()" 
      class="flex-fill">
    </app-ascii-animation-text>
  }

  <!-- Show routed content after intro -->
  @if (introFinished()) {
    <app-nav-bar 
      [links]="[
        { name: 'Home', url: '/home' },
        { name: 'Map', url: '/map' },
        { name: 'About', url: '/about' }
      ]"
      class="nav-bar">
    </app-nav-bar>

    <div class="content flex-fill h-100 pb-4 px-4">
      <router-outlet></router-outlet>
    </div>
  }
</div>
